.vscode/**
.vscode-test/**
dist/test/**
node_modules/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github
**/*.vsix
esbuild.js
.eslintrc.js
.prettierrc
.editorconfig
CLAUDE.md
!out/onig.wasm